<html>
    <head>
    	<meta charset="utf-8" />
        <link rel="stylesheet" href="/css/bulma.css">
        <link rel="stylesheet" href="/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/app.css">
        
        
    </head>
    <body class="is-fluid">
        <section class="section">
            <div class="container is-fluid">
                <div class="box">
                    <div class="content">
                        <h1 class="title has-text-centered">Ingressos do Churrasco</h1>
                    </div>
                    <div id="root"></div>
                </div>
            </div>
        </section>
        <section class="section">
            <div class="container">
                <div class="box">
                    <div class="field has-addons">
                        <div class="control">
                            <input class="input" type="number" id='convite' placeholder="Número do convite">
                        </div>
                        <div class="control">
                            <a class="button is-info" id='adicionar'>Adicionar</a>
                        </div>
                    </div>
                </div>
                <h2 class="subtitle">Histórico</h2>
                <div class="box">
                    <div class="content">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th><abbr title="Sequencial">Seq</abbr></th>
                                    <th><abbr title="Hora">Hr</abbr></th>
                                    <th><abbr title="Código">Cod</abbr></th>
                                    <th><abbr title="Sincronizado">Sinc</abbr></th>
                                </tr>
                            </thead>
                            <tbody>
                                
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </section>


        <script src="/bundle.js"> </script>
	</body>
</html>
